*{
    font-family: "Nunito Sans", sans-serif;
}



body{
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

header{
    background-color:#FFF;
    border-bottom: 1px solid #CCC;

}

.row{
    margin: 0;
}

.container-fluid{
    padding: 0;
}

.btn-primary{
    background-color: rgb(19, 21, 155);
    border: none;
}

.btn-primary:hover{
    background-color: rgb(11, 14, 90);
}

.msg{
    background-color:rgb(19, 21, 155);
    color: #CCC;
    border: none;
    width: 100%;
    margin-bottom: 0;
    padding: 10px;
}

/* NAVBAR */
#navbar{
    justify-content: space-between;
    padding: 0 5px;
}

#navbar img{
    justify-content: space-between;
    width: 55px;
}

#navbar a{
    font-size: 15px;
    color: rgb(63, 63, 63);
}

#navbar a:hover{
    font-size: 20px;
    color: rgb(19, 21, 155);
    transition: 0.5s;
    
}

/* SERACH CONTAINER */

#search-icon{
   color: rgb(19, 21, 155);
   display: flex;
   position: relative;
   align-items: end;
   
   
}

#search-container{
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    text-align: center;
    padding: 50px;
}

#search-container h1{
    color: #FFF;
}

#search{
    float:left;
}

#lupa{
    color:rgb(19, 21, 155) ;
    float:left;
    margin:7px 0px 0px -20px;
    cursor:pointer

 }

 #lupa:after{
    font-family:FontAwesome;
    font-size:14px;
    content:"\f002"
    
 }

 #search-container form{
    width: 50%;
    margin: 0 auto;
}



/* EVENTS LIST */
#events-container{
    padding: 50px;
}

#events-container h2{
   margin-bottom: 10px;
}

#events-container .subtitle{
    margin-bottom: 30px;
 }

#cards-container{
    display: flex;
}

#events-container .card{
    flex: 1 1 24%;
    max-width: 25%;
    border-radius: 5px;
    padding: 0;
    margin: 0.5%;
}

#events-container img{
    border-radius: 5px 5px 0px 0px;
    max-height: 150px;
    max-width: 100%;
    object-fit: cover;
    
}

#events-container img:hover{
    cursor: pointer;
}


/* EVENT CREATE TABLE */

#event-create-container{
    padding: 30px;
}

#event-create-container label{
    font-weight: 650;
}

#event-create-container input,
#event-create-container select,
#event-create-container textarea{
    font-size: 14px;
    padding: 10px;
}

#btn-criar-evento{
    margin-top: 15px;
    width: 100%;
    height: 50px;
}

#event-dipon{
    text-decoration-line: none;
}

/* FORM DE EVENTOS */

.form-group{
    margin-top: 15px;
}

.card .card-date{
    font-size: 12px;
    margin-bottom: 5px;
    color: rgb(70, 70, 70);
}

.card .card-title{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    color: rgb(70, 70, 70);
}

.card .card-participants{
    font-size: 14px;
    font-weight: 400;
    color: rgb(70, 70, 70);
}

/* EVENT PAGE */

#image-container,
#info-container{
    margin-top: 25px;
}

#image-container img{
    border-radius: 10px;
    object-fit: cover;
    
}

#description-container{
    margin-top: 10px;
}

#info-container h1{
   font-size: 60px;
   font-weight: 600;
}

#info-container p{
    margin: 0;
    font-size: 16px;
    display: flex;
}

#info-container,
#description-container{
    font-size: 16px;
}

#info-container ion-icon{
    color: rgb(19, 21, 155);
    margin-right: 5px;
    margin-top: 1px;
    font-size: 20px;
}

#info-container #event-submit{
    margin-top: 20px;
    margin-bottom: 10px;
}

/* DASHBOARD */

.dashboard-title-container{
    margin-bottom: 30px;
    margin-top: 30px;
}

.dashboard-event-container th{
    width: 25%;
}

#pencil-edit{
    color:rgb(19, 21, 155) ;
}

#trash-delete{
    color:rgb(19, 21, 155) ;
}






/* FOOTER */

footer{
    text-align: center;
    position: absolute;
    color: #CCC;
    background-color: rgb(11, 14, 90);
    padding: 10px;
    bottom: 0;
    width: 100%;
}

footer p{
    margin: 0;
}



